/* Style général pour le sélecteur de thème */
.theme-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #3d3d3dec;
  border-radius: 8px;
  width: 200px;
  margin: 20px auto;
  margin-top: 120px;
  margin-left: 85%;
  transition: background-color 0.3s ease-in-out;
}

.theme-selector p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}

/* Style des boutons de sélection */
.theme-selector button {
  padding: 10px 20px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #3d3d3dec;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  color: black;
}

/* Effet de survol pour les boutons */
.theme-selector button:hover {
  background-color: rgb(0, 103, 213);
}

/* Styles spécifiques pour chaque bouton actif */
.theme-selector button.active {
  background-color: #4caf50;
  color: white;
}

.theme-selector button:focus {
  outline: none;
}

/* Définition des variables de thème */
[data-theme="light"] {
  --bg-color: linear-gradient(135deg, #e7dfdf, #68b6eed2); /* Dégradé clair */
  --text-color: black; /* Texte noir pour le thème clair */
}

[data-theme="dark"] {
  --bg-color: linear-gradient(135deg, #7476be, #3784a8); /* Dégradé sombre */
  --text-color: white; /* Texte blanc pour le thème sombre */
}

[data-theme="blue"] {
  --bg-color: linear-gradient(135deg, #140666, #c52525); /* Dégradé bleu */
  --text-color: white; /* Texte clair pour le thème bleu */
}

/* Utilisation des variables dans vos styles */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease; /* Optionnel : transition douce lors du changement de thème */
}

/* Vous pouvez également utiliser les variables dans d'autres classes */
.theme-selector {
  /* Exemple d'utilisation des variables */
  background: var(--bg-color);
  color: var(--text-color);
}

/* Appliquez les variables au body */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: 0;
  padding: 0;
}

header {
  left: 0;
  right: 0;
  display: flex; /* Utilise un modèle de disposition flexible */
  align-items: center; /* Centre verticalement les éléments dans l'en-tête */
  justify-content: space-between; /* Espace les éléments horizontalement */
  padding: 5px; /* Ajoute un rembourrage interne à l'en-tête */
  background-color: rgba(
    11,
    11,
    11,
    0.487
  ); /* Définit la couleur de fond de l'en-tête */
  color: #61dafb;
  position: absolute;
  z-index: 100;
  top: 0;
  gap: 20em; /* Définit la couleur du texte dans l'en-tête */
  /* background: url(""); /* Image de fond
  background-position: center;
  background-size: cover;*/
}

.logo {
  width: 100px; /* Définit la largeur du logo */
  height: 5.5em; /* Permet à la hauteur de s'ajuster automatiquement */
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: #32d3ff 0 4px 0px;
}
.logo:hover {
  transform: scale(1.15);
  transition: 0.2s;
  background-color: rgba(53, 86, 86, 0.149);
}

/* -----------------LE  HEADER (fin)---------------*/

.Contenu {
  /*Temporaire pour que le footer des pages vides reste en bas */ /*Aligne le contenu principal de la page*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 66.71vh;
  flex-grow: 1;
}

:root {
  /* Variable */
  --blue: 0, 170, 255;
  --dark-blue: 0, 20, 31;
}

header nav a {
  color: #32d3ff; /* Définit la couleur des liens de navigation */
  text-decoration: none; /* Supprime le soulignement des liens */
  margin: 0 17px; /* Ajoute une marge horizontale aux liens */
  font-weight: bold; /* Rend le texte des liens en gras */
  cursor: corr;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;

  border-bottom: solid transparent 6px;
  border-radius: 4px;
}

header nav a:hover {
  color: #fff; /* Change la couleur des liens au survol */
  border-bottom: solid white 6px;
  transition: linear 0.1s;
  font-size: 1.5rem;
  text-shadow: 0 0 15px #32d3ff;
}

header nav .inscription {
  background-color: white; /* Définit la couleur de fond des boutons */
  color: #20232a; /* Définit la couleur du texte des boutons */
  padding: 7px 12px; /* Ajoute un rembourrage interne aux boutons */
  border-radius: 5px; /* Arrondit les coins des boutons */
  font-weight: bold; /* Rend le texte des boutons en gras */
}

header nav .connexion {
  background-color: #32d3ff; /* Définit la couleur de fond des boutons */
  color: #20232a; /* Définit la couleur du texte des boutons */
  padding: 7px 12px; /* Ajoute un rembourrage interne aux boutons */
  border-radius: 5px; /* Arrondit les coins des boutons */
  font-weight: bold; /* Rend le texte des boutons en gras */
}

header nav .inscription:hover {
  color: black;
  background-color: rgb(248, 239, 72);
  text-shadow: none;
}
header nav .connexion:hover {
  background-color: #fff; /* Change la couleur de fond des boutons au survol */
  color: #20232a; /* Change la couleur du texte des boutons au survol */
  text-shadow: none;
}

/*   ------------- NOS COURS (début)-----------   */

.p_description {
  color: black;
}

.containerimg {
  position: relative;
  text-align: center;
  color: #fff;
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #20232a;
}

.containerimg img {
  width: 100%;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}

.containerimg h1,
.containerimg h2 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
}

.containerimg h1 {
  top: 20%;
}

.containerimg h2 {
  top: 60%;
}

/* Style du conteneur principal des cours */
.cours-raisons {
  background-color: rgb(245, 239, 229);
}

.bienfaits {
  color: black;
  font-size: x-large;
  font-family: Arial;
  font-weight: bolder;
  text-align: center;
  padding-top: 50px;
}

#container-cours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100%;
}

/* Style des zones de texte pour chaque cours */
.zone-de-texte {
  color: black;
  background-color: #fff;
  border-radius: 8px;
  margin: 1rem;
  padding: 1.5rem;
  width: calc(33.333%);
  height: 10rem;
}

.zone-de-texte:hover {
  transform: translateY(-10px);
  background-color: rgba(131, 236, 231, 0.438);
  transform: scale(1.1);
  color: black;
}

.zone-de-texte p:hover {
  text-shadow: rgb(96, 96, 143) 0 0 3px;
}

.zone-de-texte h2 {
  text-align: center;
  color: #0e32a7;
  margin-bottom: 1rem;
}

.zone-de-texte p {
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style du bouton */
.button-cours {
  text-align: center;
  margin-bottom: 2rem 0;
}

.button-cours button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60%;
}

.button-cours button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  transition: ease 0.2s;
}

/* Style du slogan */
.slogan {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin: 2rem 0;
}

.noscours {
  padding: 5em 2em;
  background-color: #20232a;
  color: white;
}

.noscours h2 {
  color: rgb(19, 203, 209);
  margin-left: 1em;
}

.noscours p {
  margin-left: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

/* Style des vidéos YouTube */
.vidéos-cours {
  width: 100%;
  height: 400px;
  margin: 1rem 0;
  box-shadow: black 10px -10px 10px;
}

/* Fin du style */
/*   ------------- NOS COURS (fin)-----------   */

/*   ------------- CONNEXION & INSCRIPTION (début)-----------   */
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 826px; /*Viewport Height*/
  width: 100%;
  background: url("/src/Assets/images/istockphoto.jpg"); /* Image de fond */
  background-size: cover;
  flex-direction: column;
  gap: 3.5em;
  flex-grow: 1;
}

.fullscreen_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px; /*Viewport Height*/
  width: 100%;
  background: url("/src/Assets/images/istockphoto.jpg"); /* Image de fond */
  background-size: cover;
  flex-direction: column;
  gap: 3.5em;
  flex-grow: 1;
}

.fullscreenh1 {
  color: #fff;
  margin-top: 2.5em;
  font-size: 3em;
  text-align: center;
}

.fullscreenh1:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 20px;
  padding: 40px 30px;
  width: 43%;
  height: auto;
  background-color: rgba(var(--dark-blue), 0.7);
  max-width: 1000px;
  min-height: 350px;
  max-height: 600px;
  box-shadow: 0 0 15px 0 rgba(var(--dark-blue), 0.7);
  margin-bottom: 5em;
}

.form-contact h1 {
  color: white;
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
}

.input-group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: rgba(239, 239, 243, 0.589);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: #61dafb;
}

.info-humain {
  color: white;
}

#pwd-forget {
  text-align: right;
  color: #61dafb;
  text-decoration: none;
}

#pwd-forget:hover {
  color: lightgray;
  text-decoration: underline;
}

#rememberMe {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
#rememberMe input {
  width: 20px;
  height: 20px;
  accent-color: rgb(var(--blue));
}

button[type="submit"] {
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: rgba(var(--blue), 0.25);
  border: 1px solid rgb(var(--blue));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: rgba(var(--blue), 0.4);
}
/*   ------------- CONNEXION & INSCRIPTION (fin)-----------   */

/*     -----------------LE  FOOTER (début)---------------     */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20232a; /* Couleur de fond du footer */
  color: #ffffff; /* Couleur du texte dans le footer */
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
}

footer p {
  margin: 0;
  padding: 5px 0;
  font-size: 0.9em;
  margin-bottom: 15px;
}

footer nav {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer nav a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
}
/* -----------------LE  FOOTER (fin)---------------*/

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.Notre-Equipe-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  max-height: 500px;
  background-color: #20232a;
  gap: 5.2em;
  padding-bottom: 6em;
  margin-bottom: 25px;
}
.LogoTeam {
  height: 3em;
  width: 3em;
  margin: -15px;
}
.Notre-Equipe-Section h2 {
  text-transform: uppercase;
  font-family: "Russo One";
  text-shadow: #0e3ca7 0 10px 25px;
  color: #ddd;
}
.Effectif {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}
.Portrait {
  display: inline-block;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 300px;
  position: relative;
  margin: 0px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.767);
}
.Portrait img {
  width: 100%;
  height: 100%;
  float: left;
}
.Portrait span {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  margin-left: -100%;
  position: absolute;
  height: 400px;
  z-index: 70;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  transition-delay: 0.25s;
  background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(8, 101, 241, 0.856));
}

.Portrait span p {
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 0;
  display: block;
  transition: 0.5s;
  font-size: 31px;
  font-family: "Russo One", sans-serif;
  text-align: right;
  margin-left: -30px;
}
.Portrait span:hover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  box-shadow: #0e32a7e0 0 -2px 20px;
}
.Portrait span:hover p {
  opacity: 1;
  bottom: 25px;
  transition-delay: 0.24s;
}
.Portrait:hover {
  transform: scale(1.07);
  z-index: 71;
}
.Portrait span p b {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
}

.social-media {
  display: flex;
  gap: 40px; /* Espace entre chaque icône */
  margin-top: 15px;
}

.social-link img {
  width: 30px; /*Taille des icônes */
  height: 30px;
  border: 0;
  border-radius: 22px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Transition pour les effets au survol */
}

.social-link img:hover {
  transform: scale(1.2); /* Agrandit l'icône au survol */
  filter: grayscale(0%); /* Restaure les couleurs de l'icône */
}

/* Responsivité - Ajuster la disposition pour les petits écrans */
@media (max-width: 768px) {
  .box-blue {
    width: calc(
      50% - 20px
    ); /* Sur les écrans plus petits, les boîtes occupent 50% de la largeur */
  }
}

@media (max-width: 480px) {
  .box-blue {
    width: 100%; /* Sur les très petits écrans, chaque boîte occupe 100% de la largeur */
  }
}

@media (max-width: 600px) {
  label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: 100%;
  }
}

/* admin-stats.css */

/* Conteneur principal de la page AdminStats */
.admin-stats {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f7fa;
}

/* Titre principal */
.admin-stats__title {
  text-align: center;
  color: black;
  font-size: 32px;
  margin-bottom: 40px;
}

/* StatSection.css */

/* Conteneur principal des sections Statistiques */
.stat-section__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style des sections individuelles */
.stat-section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(194, 16, 16, 0.801); /* Augmenter l'ombre pour un effet plus marqué */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-section__item:hover {
  transform: scale(1.05); /* Agrandir légèrement l'élément */
  box-shadow: 0 8px 16px rgba(27, 196, 187, 0.801); /* Augmenter l'ombre pour un effet plus marqué */
}

/* Titres des sections */
.stat-section__item h2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* Listes et éléments */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

ul li strong {
  color: #3d98b1;
}

/* ChartSection.css */

/* Conteneur principal des graphiques */
.chart-section {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Réduit l'écart entre les graphiques */
  max-width: 1000px; /* Réduit la largeur maximale */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Titre principal des graphiques */
.chart-section__title {
  text-align: center;
  font-size: 24px; /* Taille réduite du titre */
  color: #333;
  margin-bottom: 20px;
}

/* Conteneur des graphiques */
/* Style du conteneur des graphiques */
.chart-section__chart {
  background-color: #fff;
  padding: 15px; /* Réduit l'espace interne */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(218, 11, 11, 0.849);
  width: 800px;
  margin-left: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition fluide */
}

/* Effet au survol */
.chart-section__chart:hover {
  transform: scale(1.05); /* Agrandit légèrement l'élément */
  box-shadow: 0 8px 16px rgba(27, 196, 187, 0.801); /* Augmenter l'ombre pour un effet plus marqué */
}

/* Titre des graphiques */
.chart-section__chart h3 {
  font-size: 25px; /* Réduit la taille du titre des graphiques */
  margin-bottom: 10px;
  color: #333;
}

/* Style général pour les graphiques */
.chart {
  width: 100%;
  height: 300px; /* Réduit la hauteur des graphiques */
  max-height: 300px; /* Limite la hauteur maximale si besoin */
}

/* StatsList.css */

/* Liste des machines */
.stats-list {
  list-style: none;
  padding: 0;
}

.stats-list__item {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.stats-list__item:hover {
  color: #007bff;
  cursor: pointer;
}

/* StatsTable.css */

/* Style pour le tableau */
.stats-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.stats-table th,
.stats-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.stats-table th {
  background-color: #f4f7fa;
  font-size: 16px;
  color: #333;
}

.stats-table td {
  font-size: 14px;
  color: #555;
}

.stats-table tr:hover {
  background-color: #f1f1f1;
}

/* Section ExplicationExo */

.section-exo {
  background: linear-gradient(135deg, #3498db, #2ecc71);
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-radius: 12px;
  margin: 120px auto;
  max-width: 90%;
  box-shadow: 0px 8px 15px rgba(133, 43, 43, 0.719);
}

.explication-exo {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Navigation - RedirectionExo */
.redirection-container {
  margin: 30px auto;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.redirection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.redirection-item {
  font-size: 18px;
}

.redirection-link {
  text-decoration: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #e67e22, #f1c40f);
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.redirection-link:hover {
  background: linear-gradient(135deg, #e74c3c, #8e44ad);
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgb(168, 34, 34);
}

/* Materiel Section */
.materiel-sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  margin: 20px auto;
  max-width: 95%;
}

.materiel-illustration {
  background: rgb(240, 233, 233);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 6px 12px rgba(20, 16, 16, 0.836);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
}

.materiel-illustration:hover {
  transform: scale(1.02);
  box-shadow: 0px 12px 24px rgba(185, 83, 180, 0.87);
}

.materiel-multimedia {
  text-align: center;
}

.materiel-image {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.materiel-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.materiel-title {
  font-size: 34px;
  font-weight: bold;
  margin: 15px 0 10px;
  color: black;
}

.materiel-link {
  text-decoration: none;
  padding: 10px 25px;
  background: linear-gradient(135deg, #9b59b6, #34495e);
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.materiel-link:hover {
  background: linear-gradient(135deg, #2980b9, #16a085);
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(207, 78, 78, 0.89);
}

/* Responsive Design */
@media (max-width: 768px) {
  .explication-exo {
    font-size: 20px;
  }

  .redirection-link {
    font-size: 14px;
    padding: 8px 15px;
  }

  .materiel-title {
    font-size: 20px;
  }

  .materiel-link {
    font-size: 14px;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .redirection-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .materiel-sections {
    gap: 20px;
  }
}

/* Container for the back-to-top button */
.redirection-haut-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

/* Button styling */
.redirection-haut-button {
  background: linear-gradient(135deg, #ff6f61, #ffa07a);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Hover effect */
.redirection-haut-button:hover {
  background: linear-gradient(135deg, #ffa07a, #ff6f61);
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

/* Active (click) effect */
.redirection-haut-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Button appearance for mobile devices */
@media (max-width: 768px) {
  .redirection-haut-button {
    font-size: 14px;
    padding: 10px 15px;
  }
}

#papa-paiement {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#container-paiement {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* En-têtes */
.h1Paiement,
.h2Paiement {
  margin: 0;
  padding: 20px;
  color: white;
  background-color: blue;
  text-align: center;
  border: 2px solid #0056b3;
}

.h1Paiement {
  font-size: 24px;
}

.h2Paiement {
  font-size: 20px;
}

/* Section récapitulatif */
#recap {
  padding: 20px;
}

.tablePaiement {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.thPaiement,
.tdPaiement {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.thPaiement {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.trPaiement:nth-child(even) {
  background-color: #f2f2f2;
}

/* Sections de paiement */
section {
  padding: 20px;
}

.divPaiement {
  margin-top: 25px;
  margin-bottom: 25px;
}

.labelPaiement {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Boutons radio */
input[type="radio"] {
  margin-right: 10px;
}

label[for="carte"],
label[for="prelevement"] {
  cursor: pointer;
}

/* Section paiement par carte */
#section-carte,
#section-prelevement {
  border-top: 2px solid #f2f2f2;
}

/* Bouton de confirmation */
.button-confirmer {
  padding: 20px;
  background-color: transparent;
  margin-bottom: 20px;
  border: none;
}

.paiement {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #62a1beea;
  transform: scale(1.1);
  transition: 0.3s;
}

input[type="submit"]:focus {
  outline: none;
}

/* Responsive design */
@media (max-width: 768px) {
  #container-paiement {
    margin: 0 10px;
  }

  .h1Paiement,
  .h2Paiement {
    font-size: 18px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 16px;
  }
}

/* Conteneur principal du panier */
.divPanier {
  margin-top: 140px;
  width: 100%;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(23, 70, 226, 0.801);
  padding: 40px;
  margin-left: 25%;
  margin-bottom: 50px;
  background-color: rgba(208, 208, 214, 0.644);
}

.divPanier1 {
  margin-top: 80px;
  width: 100%;
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(23, 70, 226, 0.801);
  padding: 40px;
  margin-left: 25%;
  margin-bottom: 50px;
  background-color: rgba(208, 208, 214, 0.644);
}

/* Titre principal */
.h1Panier {
  text-align: center;
  color: blue;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* Tableau de l'abonnement */
.tablePanier {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.thPanier {
  background-color: #6da1d4;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.tdPanier {
  padding: 15px 20px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #eee;
}

.tdPanier:last-child {
  border-bottom: none;
}

.trPanier:nth-child(even) {
  background-color: #f9fafb;
}

.tfootPanier {
  background-color: #f1f2f6;
  font-weight: 600;
  font-size: 16px;
  color: #2c3e50;
}

.tdPanier strong {
  color: black;
}

/* Récapitulatif de l'abonnement */
.h2Panier {
  font-size: 24px;
  color: black;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.divTableauPanier {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.ulPanier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.liPanier {
  padding: 12px 0;
  font-size: 16px;
  color: black;
  border-bottom: 1px solid #eee;
}

.liPanier:last-child {
  border-bottom: none;
}

/* Formulaire de paiement */
.info-panier {
  margin-top: 20px;
}

.labelPanier {
  display: block;
  font-size: 16px;
  color: black;
  margin-bottom: 8px;
  font-weight: 500;
}

.inputPanier {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #f7f9fb;
}

/* Bouton */
.button-Panier {
  background-color: #6da1d4;
  color: black; /* Texte en bleu */
  padding: 16px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  text-decoration: none; /* Supprimer le soulignement */
  text-align: center; /* Centrer le texte dans le bouton */
}

/* Changement de couleur au survol */
.button-Panier:hover {
  background-color: #0b4f94; /* Fond bleu au survol */
  color: white; /* Texte blanc au survol */
}

/* Changement de couleur au clic */
.button-Panier:active {
  background-color: #4a88b7; /* Fond bleu foncé au clic */
}

.button-Panier a {
  text-decoration: none; /* Assurez-vous qu'il n'y ait pas de soulignement sur les liens */
  color: inherit; /* Le lien hérite de la couleur du texte du bouton */
}

.button-Abo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .divPanier {
    padding: 20px;
    width: 100%;
  }

  .h1Panier {
    font-size: 26px;
  }

  .tablePanier {
    font-size: 14px;
  }

  .button-Panier {
    font-size: 16px;
  }

  .inputPanier {
    font-size: 14px;
  }
}

/* Section Abonnement */
.separator {
  border: none;
  border-top: 2px solid black; /* Couleur de la ligne de séparation */
  margin: 20px 0; /* Espacement au-dessus et en dessous de la ligne */
}

#abonnement_titre {
  padding-top: 100px;
  text-align: center;
  background: linear-gradient(135deg, #32d3ff, #2f4bc9);
  color: black;
}

.h1_Abonnement {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.div_Abonnement {
  background: rgba(231, 229, 229, 0.452);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 8px;
}

/* Offres Avec Abonnement */
.avec_Abonnement {
  margin: 6%;
  margin-left: 350px;
  width: 500px;
  padding: 1.5rem;
  border: 4px solid #2447e4;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 18px 26px rgb(117, 3, 3, 0.801);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center; /* Centrer le contenu */
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

/* Offres Sans Abonnement */
.sans_Abonnement {
  margin: 6%;
  margin-right: 350px;
  width: 500px;
  padding: 1.5rem;
  border: 4px solid #2447e4;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 18px 26px rgba(117, 3, 3, 0.801);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center; /* Centrer le contenu */
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

/* Effet de hover */
.avec_Abonnement:hover,
.sans_Abonnement:hover {
  transform: translateY(-5px) scale(1.02); /* Légère montée avec un léger agrandissement */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Ombre plus douce et large */
  background-color: #2447e448; /* Couleur de fond change légèrement pour plus d'interactivité */
  cursor: pointer; /* Change le curseur pour indiquer l'interaction */
}

/* Titre des abonnements */

.para_Abonnement {
  font-size: large;
  font-weight: 500;
}
.h2_Abonnement {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: black;
}

/* Contenu des offres */
.ul_Abonnement {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.h3_Abonnement {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.li_Abonnement {
  font-size: 16px;
  margin: 0.5rem 0;
  color: black;
}

.li_Abonnement_prix {
  font-size: 20px;
  margin: 0.5rem 0;
  color: blue;
  font-weight: 650;
}

/* Bouton d'action */
.button_abo {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #2447e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.button_abo a {
  color: #fff;
  text-decoration: none;
}

.button_abo:hover {
  background-color: #1c34b1;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  ._rassemblement {
    flex-direction: column;
    align-items: center; /* Centrer les éléments sur petits écrans */
  }

  .avec_Abonnement,
  .sans_Abonnement {
    max-width: 100%;
  }
}

/* PourquoiSabonner */
#pouquoi_sabonner {
  padding: 2rem;
  background-color: rgb(171, 206, 206);
  text-align: center;
}

.cite_Abonnement {
  font-style: italic;
  color: blue;
  font-weight: 600;
}

/* Questions fréquentes */
#question_fréquente {
  padding: 2rem;
  background-color: white;
}

.details_Abonnement {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary_Abonnement {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.details_Abonnement p {
  margin-top: 0.5rem;
  line-height: 1.4;
}

/* RedirectionVideo */
#redirection_vidéo {
  padding: 2rem;
  background-color: rgb(171, 206, 206);
  text-align: center;
}

.ul_Abonnement li {
  margin: 1rem 0;
}

.a_Abonnement {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  transition: color 0.3s;
  text-decoration: underline;
}

.a_Abonnement:hover {
  color: black;
}

/* Section Support */
#_support {
  padding: 2rem;
  background-color: white;
  text-align: center;
}

#_support h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

._button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

._button:hover {
  background-color: black;
}

.p_Abonnement {
  color: black;
  font-size: large;
  font-weight: 500;
}

/* Section Localisation */
#localiser {
  background-color: rgba(0, 0, 0, 0);
  padding: 40px 30px;
  margin-bottom: 187px; /* Réduit l'espace sous l'élément */
  margin-top: -200px; /* Réduit l'espace au-dessus de l'élément */
  border-radius: 50px;
  box-shadow: 0 6px 20px rgba(238, 20, 20, 0.877); /* Ombre douce */
  text-align: center;
  width: 50%;
  margin-left: 25%;
  color: var(--text-color, black); /* Texte dynamique selon le thème */
}

/* Section Localiser - styles dynamiques pour chaque thème */
[data-theme="light"] {
  --localiser-bg-color: rgba(
    243,
    168,
    165,
    0.479
  ); /* Fond clair pour #localiser dans le thème clair */
  --text-color: black; /* Texte noir */
}

[data-theme="dark"] {
  --localiser-bg-color: rgba(
    78,
    141,
    235,
    0.856
  ); /* Fond sombre pour #localiser dans le thème sombre */
  --text-color: white; /* Texte blanc */
}

[data-theme="blue"] {
  --localiser-bg-color: rgba(
    204,
    35,
    30,
    0.979
  ); /* Fond bleu pour #localiser dans le thème bleu */
  --text-color: white; /* Texte blanc */
}

.formulaire_Accueil {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff; /* Fond blanc pour le formulaire */
  padding: 40px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgb(26, 23, 189); /* Légère ombre autour du formulaire */
}

.h2_Accueil {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

.input_Accueil {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input_Accueil:focus {
  border-color: #007bff; /* Couleur du champ de recherche en focus */
}

button.button_accueil {
  padding: 15px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.button_accueil:hover {
  background-color: #0056b3; /* Couleur au survol */
}

.p_Accueil {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
  font-weight: 400;
}

.a_Accueil {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: 20px;
  font-weight: 400;
}

/* Styles Responsives */
@media (max-width: 768px) {
  #localiser {
    padding: 40px 15px; /* Moins de padding sur petits écrans */
  }

  .formulaire_Accueil {
    padding: 30px 20px; /* Moins d'espace autour du formulaire */
  }

  .input_Accueil {
    font-size: 1rem;
    padding: 12px;
  }

  button.button_accueil {
    font-size: 1rem;
    padding: 12px 22px;
  }
}

@media (max-width: 480px) {
  .h2_Accueil {
    font-size: 2rem;
  }

  .p_Accueil {
    font-size: 1rem;
  }
}

/* Section FAQ - styles de base */
#faq_extrait {
  background-color: var(--faq-bg-color); /* Fond dynamique selon le thème */
  padding: 60px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(238, 20, 20, 0.877); /* Ombre douce */
  width: 50%;
  margin-left: 25%;
}

.div_zone_de_texte {
  max-width: 1100px;
  margin: 0 auto;
}

.ul_Accueil {
  list-style: none;
  padding: 0;
}

.li_Accueil {
  background-image: linear-gradient(235deg, #eba2a2, #70e7e7d7);
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.801);
  color: var(--text-color); /* Texte dynamique selon le thème */
}

/* Section FAQ - styles dynamiques pour chaque thème */
[data-theme="light"] {
  --faq-bg-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fond clair pour #faq dans le thème clair */
  --text-color: black; /* Texte noir */
}

[data-theme="dark"] {
  --faq-bg-color: rgba(
    78,
    141,
    235,
    0.856
  ); /* Fond sombre pour #faq dans le thème sombre */
  --text-color: white; /* Texte blanc */
}

[data-theme="blue"] {
  --faq-bg-color: rgba(
    243,
    168,
    165,
    0.479
  ); /* Fond bleu pour #faq dans le thème bleu */
  --text-color: white; /* Texte blanc */
}

.strong_Accueil {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--text-color); /* Texte dynamique selon le thème */
  font-weight: 700;
  margin-bottom: 15px;
}

/* Section Info */
#horaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerimg_Accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.illustration_Accueil {
  flex: 1;
  max-width: 45%;
  margin: 20px;
}

.img_accueil {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Section Offre Coaching */
#offre_coaching {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.illustration_Accueil {
  flex: 1;
  max-width: 45%;
  margin: 20px;
}

.blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--text-color); /* Texte dynamique selon le thème */
  margin-top: 20px;
}

.blockquote em {
  font-weight: bold;
}

/* Section Offre Étudiant */
#offre_étudiant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.illustration_Accueil {
  flex: 1;
  max-width: 45%;
  margin: 20px;
}

.zone_de_texte_Accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  padding: 0 20px;
}

.button_accueil_ {
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button_accueil_ a {
  color: #fff;
  text-decoration: none;
  margin: 7px;
}

.button_accueil_:hover {
  background-color: #0056b3;
}

/* coach */

.p_Coach {
  color: black;
}

.coach-presentation-section {
  width: 100%;
  margin: auto;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../public/Assets/images/openart-image_iJUD778Y_1733370988427_raw.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.coach-presentation-section h1 {
  color: white;
  font-size: xxx-large;
}
.coach-presentation-section {
  color: white;
  font-size: large;
}

.coach-zone-de-texte {
  flex: 1;
  width: 100%;
  margin: 40px auto;
  height: fit-content;
  background: linear-gradient(rgba(212, 208, 208, 0.3), rgba(0, 0, 0, 0.313));
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.coach-zone-de-texte h1 {
  color: #3a3a3a;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.coach-zone-de-texte p {
  font-size: 1.1em;
  line-height: 1.6;
  padding: 20px;
}

.coach-containerimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.coach-illustration {
  position: relative;
  flex: 1;
  margin-right: 30px;
}

.coach-illustration img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.coach-illustration img:hover {
  transform: scale(1.05);
}

.coach-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff6b6b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.coach-button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.coach-button:hover {
  background-color: #ff4757;
}

.coach-zone-de-texte p {
  font-size: 1.1em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .coach-containerimg {
    flex-direction: column;
  }

  .coach-illustration {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Section principale */
.Section_Hdc {
  padding: 20px;
  width: 850px;
  margin: 120px auto;
  background: linear-gradient(135deg, #ffecd2, #9fbcfc);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(10, 33, 241, 0.952);
  font-family: "Roboto", sans-serif;
  color: black;
}

/* Titre principal */
.h1_Hdc {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 25px;
}

/* Image du coach */
.img_Hdc {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 350px;
  margin: 20px auto;
  border-radius: 10%;
  border: 5px solid #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.img_Hdc1 {
  display: block;
  width: 500px;
  height: 350px;
  margin: 20px auto;
  border-radius: 10%;
  border: 5px solid #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Section des étoiles et notes */
.div_Hdc {
  display: flex;
  justify-content: center; /* Centre les étoiles */
  align-items: center; /* Assure un alignement vertical */
  flex-direction: column;
  gap: 10px; /* Ajoute un espace uniforme entre les étoiles */
}

.div_Hdc1 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.span_Hdc {
  font-size: 1.8em;
  margin: 0;
  transition: transform 0.3s ease;
}

.span_Hdc:hover {
  transform: scale(1.2); /* Agrandit légèrement l'étoile au survol */
}

.span_Hdc1 {
  font-size: 1.2em;
  margin-left: 10px;
  font-weight: bold;
  color: #e67e22;
}

/* Sous-titres */
.h2_Hdc {
  font-size: 1.8em;
  color: #34495e;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Texte descriptif */
.p_Hdc {
  font-size: 1.1em;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

/* Titres des fonctionnalités */
.h3_Hdc {
  font-size: 1.4em;
  color: #2c3e50;
  margin-bottom: 8px;
}

/* Liste des résultats */
.ul_Hdc {
  list-style: none;
  padding: 0;
}

.li_Hdc {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.li_Hdc:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Réactivité pour écrans plus petits */
@media (max-width: 768px) {
  .Section_Hdc {
    padding: 20px;
  }

  .h1_Hdc {
    font-size: 2em;
  }

  .img_Hdc {
    max-width: 300px;
  }

  .h2_Hdc {
    font-size: 1.5em;
  }

  .li_Hdc {
    font-size: 1em;
  }
}

/* Section principale - Bas Cardio */

.section_Bascardio {
  padding: 20px;
  max-width: 900px;
  margin: 120px auto;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #ffecd2, #9fbcfc);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(10, 33, 241, 0.952);
  font-family: "Roboto", sans-serif;
  color: black;
}

.section_Bascardio1 {
  padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #ffecd2, #9fbcfc);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(10, 33, 241, 0.952);
  font-family: "Roboto", sans-serif;
  color: black;
}

.section_Bascardio2 {
  padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #ffecd2, #9fbcfc);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(10, 33, 241, 0.952);
  font-family: "Roboto", sans-serif;
  color: black;
}

/* Titre principal et secondaires */
.h1_Bascardio,
.h2_Bascardio {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 25px;
}

.h2_Bascardio {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* Paragraphes */
.p_Bascardio {
  text-align: center;
  font-size: 1.1em;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Images */
.img_Bascardio {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 20px auto;
  border-radius: 10%;
  border: 5px solid #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Conteneur des cartes */
.div_Bascardio {
  margin-bottom: 30px;
  text-align: center;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.div_Bascardio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Titres des cartes */
.h3_Bascardio {
  font-size: 1.4em;
  color: #2c3e50;
  margin-bottom: 8px;
}

/* Liste des éléments */
.ul_Bascardio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li_Bascardio {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.li_Bascardio:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.li_Bascardio1 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  background: #c6e1e7;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.li_Bascardio1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Mise en valeur des textes importants */
.strong_Bascardio {
  font-weight: bold;
  color: #34495e;
}

/* Étoiles et notes */
.span_Bascardio {
  font-size: 1.8em;
  margin: 0 5px;
  color: gold;
  transition: transform 0.3s ease;
}

.span_Bascardio:hover {
  transform: scale(1.2);
}

.span_Bascardio1 {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

/* Réactivité pour les écrans plus petits */
@media (max-width: 768px) {
  .section_Bascardio {
    padding: 15px;
  }

  .h1_Bascardio,
  .h2_Bascardio {
    font-size: 1.5em;
  }

  .img_Bascardio {
    max-width: 300px;
  }

  .p_Bascardio,
  .li_Bascardio {
    font-size: 1em;
  }
}

/* Conteneur principal */
.div_contact {
  margin: 120px auto;
  margin-bottom: 30px;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(26, 22, 233, 0.836);
}

.div_contact1 {
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(26, 22, 233, 0.836);
}

/* Titres */
.h2_contact {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 15px;
  text-align: center;
}

.h3_contact {
  font-size: 1.2rem;
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}

/* Texte */
.p_contact {
  text-align: center;
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Liens */
.a_contact {
  color: #007bff;
  text-decoration: none;
}

.a_contact:hover {
  text-decoration: underline;
}

/* Formulaire */
.form_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea_contact {
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0;
  font-size: 1rem;
  color: black;
  transition: border-color 0.3s;
  text-align: start;
}

.textarea_contact:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.textarea_contact:placeholder {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  margin: 10px;
}

/* Bouton */
.button_contact {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button_contact:hover {
  background-color: #0056b3;
}
